<h2>Events are in your location (London city)</h2>
<div class="table-responsive">
<table class="table table-striped table-hover table-bordered">
    <thead>
      <tr>
        <th class="text-center">Title</th>
        <th class="text-center">Description</th>
        <th class="text-center">Venue</th>
        <th class="text-center">Time</th>
        <th class="text-center">Details</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Eminem</td>
        <td>Eminem is in London. Bla bla</td>
        <td>Stapler Center, 100 Dance square</td>
        <td>Sept 24, 7:00 PM</td>
        <td><a href="">Details</a>
      </tr>
      <tr>
        <td>Beyonce</td>
        <td>Beyouce bla bla. Bla bla</td>
        <td>Jazz Cafe, 5 Parkway</td>
        <td>Sept 27, 9:00 PM</td>
        <td><a href="">Details</a>
      </tr>
      <tr>
        <td>Grigory Leps</td>
        <td>Grigori is here. Bla bla</td>
        <td>Jazz Cafe, 5 Parkway</td>
        <td>Sept 28, 7:00 PM</td>
        <td><a href="">Details</a>
      </tr>
    </tbody>
  </table>
</div>
