<!DOCTYPE html>
<html>

  <head>
    <title>{{title}}</title>
    
    <!-- jquery -->
    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.2.4.min.js"></script>

    <!-- bootstrap -->
    <link rel="stylesheet" href="http://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/css/bootstrap.min.css" />
    <script src="http://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/bootstrap.min.js"></script>

    <!-- custom -->
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  <body>
    <div class="panel panel-default">
        <div class="panel-body text-center">
            {{{body}}}
        </div>
    </div>
  </body>

</html>