<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.1.0.slim.min.js"></script>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
