<div class="row">
    <b>Notifications will appear soon.</b>
    <p>
    <ul id="notifications"></ul>
</div>

<script type="application/javascript">
var intervalID = setInterval(
		function(){ poll() },
		5000);

function poll() {
	$.ajax({
	  type: "GET",
    	url: "/notifications/poll",
       	success: function(response) {
       		for (var i = 0; i < response.notifications.length; i++) {
       			showNotification(response.notifications[i]);
       		}
       	},
       	dataType: "json"
	});
	last = new Date();
}
function showNotification(text) {
	document.getElementById("notifications").innerHTML += "<li>" + text + "</li>";
}
</script>
